/Middle_ear_TELESCOPE.c4d
/Middle_ear_TELESCOPE_0817.c4d
/Middle_ear_TELESCOPE_0817.fbx
/Middle_ear_TELESCOPE_0817_02.fbx
/Middle_ear_TELESCOPE_0818.c4d
/Middle_ear_TELESCOPE_0819_atticotomy.c4d
/Middle_ear_TELESCOPE_0819_atticotomy.fbx
/Middle_ear_TELESCOPE_0819_mastoidectomy.c4d
/Middle_ear_TELESCOPE_0819_mastoidectomy.fbx
/Middle_ear_TELESCOPE_0819_normal.c4d
/Middle_ear_TELESCOPE_0819_normal.fbx
/Middle_ear_TELESCOPE_atticotomy.c4d
/Middle_ear_TELESCOPE_lowpoli(1).c4d
/Middle_ear_TELESCOPE_lowpoli.c4d
/Middle_ear_TELESCOPE_mastoidectomy.c4d